<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Back-End</title>
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/quiz.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
</head>
<body>
    
</body>
    <!-- <img src="logo-quiz-do-futuro.png" /> -->

    <div class="pergunta-1" onclick="checarResposta(event)">
      <h1>Qual das seguintes linguagens de programação é amplamente usada no desenvolvimento back-end?</h1>

      <button>HTML</button>
      <button>CSS</button>
      <button class="opcao-certa">Java</button>
      <button>JavaScript</button>
    </div>

    <div class="pergunta-2 escondido" onclick="checarResposta(event)">
      <h1>O que é um banco de dados relacional?</h1>
      <button> Um sistema de gerenciamento de conteúdo</button>
      <button class="opcao-certa">Um tipo de banco de dados que usa tabelas para organizar dados relacionados</button>
      <button>Um sistema de armazenamento em nuvem</button>
      <button>Um servidor de e-mail</button>
    </div>

    <div class="pergunta-3 escondido" onclick="checarResposta(event)">
      <h1>Qual protocolo é comumente usado para transferir dados entre o cliente e o servidor no desenvolvimento back-end da web?</h1>
      <button class="opcao-certa">
       HTTP
      </button>
      <button>FTP</button>
      <button>SSH</button>
      <button>SMTP</button>
    </div>

    <div class="pergunta-4 escondido" onclick="checarResposta(event)">
      <h1>Qual é a principal função de um servidor web no contexto do desenvolvimento back-end?</h1>
      <button>Criar a interface do usuário</button>
      <button class="opcao-certa"> Processar as solicitações do cliente, gerar respostas dinâmicas e servir páginas da web</button>
      <button> Armazenar arquivos de estilo CSS</button>
      <button>Gerenciar o banco de dados</button>
    
    </div>

    <div class="pergunta-5 escondido" onclick="checarResposta(event)">
      <h1>O que é uma API (Interface de Programação de Aplicativos) no desenvolvimento back-end?</h1>
      <button>Um protocolo de transferência de arquivos</button>
      <button>Um banco de dados não relacional</button>
      <button class="opcao-certa">Um conjunto de endpoints e métodos que permitem que aplicativos se comuniquem com outros aplicativos ou sistemas </button>
      <button>Um modelo de design de interface de usuário</button>
    </div>

    <div class="resultado escondido">
      <h1>PARABÉNS</h1>
      <h1>VOCÊ ACERTOU <span class="acertos"></span> DE 5 PERGUNTAS</h1>
      <button class="final" onclick="voltarParaOFuturo()">
        Voltar para o começo
    </div>
    <script src="../js/quiz.js"></script>
  </body>
</html>