<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Lógica/Algorítmo</title>
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/quiz.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
</head>
<body>
    
</body>
    <div class="pergunta-1" onclick="checarResposta(event)">
      <h1>O que é um algoritmo?</h1>

      <button>Um tipo de software</button>
      <button>Uma linguagem de programação</button>
      <button class="opcao-certa">Uma sequência de instruções</button>
      <button>Um hardware especializado</button>
    </div>

    <div class="pergunta-2 escondido" onclick="checarResposta(event)">
      <h1>O que é um loop em programação?</h1>
      <button> Um erro de programação</button>
      <button class="opcao-certa">Uma estrutura de controle que repete um bloco de código</button>
      <button>Uma operação matemática complexa</button>
      <button>Uma variável especial</button>
    </div>

    <div class="pergunta-3 escondido" onclick="checarResposta(event)">
      <h1>O que é um array em programação?</h1>
      <button class="opcao-certa">
        Uma estrutura de dados que armazena uma coleção de elementos
      </button>
      <button>Uma variável que armazena um único valor</button>
      <button>Uma função matemática complexa</button>
      <button>Uma operação matemática</button>
    </div>

    <div class="pergunta-4 escondido" onclick="checarResposta(event)">
      <h1>O que é uma variável em programação?</h1>
      <button>Uma constante</button>
      <button class="opcao-certa"> Um tipo de dado</button>
      <button> Indefinido</button>
      <button>Um valor fixo</button>
    <button>Um nome associado a um valor armazenado na memória</button>
    </div>

    <div class="pergunta-5 escondido" onclick="checarResposta(event)">
      <h1>Qual das opções a seguir é uma estrutura de controle de fluxo em programação?</h1>
      <button>Tabela</button>
      <button>Array</button>
      <button class="opcao-certa">Loop</button>
      <button>Variável</button>
    </div>

    <div class="resultado escondido">
      <h1>PARABÉNS</h1>
      <h1>VOCÊ ACERTOU <span class="acertos"></span> DE 5 PERGUNTAS</h1>
      <button class="final" onclick="voltarParaOFuturo()">
        Voltar para o começo
    </div>
    <script src="../js/quiz.js"></script>
  </body>
</html>