<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HelpTech</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/quiz.css">
    </head>
    <body>
        <main>
            <article class="home" id="home">
                <div class="content">
                    <h1>Bem-vindo à área de quiz</h1>
                </div>
            </article>

            <aside>
                <section class="cards-container">
                    <a href="logica.html" class="card">
                        <h3 class="heading"><span>Lógica/algoritmo</span></h3>
                        <p>Trilha de estudo para lógica de programação</p>
                    </a>
                    <a href="front-end.html" class="card">
                        <h3 class="heading"><span>Front End</span></h3>
                        <p>Trilha para tecnologias front-end</p>
                    </a>
                    <a href="back-end.html" class="card">
                        <h3 class="heading"><span>Back End</span></h3>
                        <p>Trilha de estudo para Back End</p>
                    </a>
                </section>
            </aside>
        </main>


    </body>
</html>
